@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.containerRigth {
    width: 50%;
    height: 100vh;
    background-image: url("../assets/WhatsApp\ Image\ 2024-11-05\ at\ 23.30.01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeft {
    width: 50%;
    height: 100vh;
    background-color: #CFDBE7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contentForm {
    display: flex;
    flex-direction: column;
}

.contentForm p {
    margin-bottom: 2rem;
}

.fields input {
    border-radius: 5px;
    border: 2px solid rgb(156, 156, 156);
    background-color:#CFDBE7;
    outline: none;
    padding: 4px;
}

.fields button {
    height: 40px;
    border: none;
    outline: none;
    color: white;
    background-color: #e69a49  ;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 2rem;
}