@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #DC7248;
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 3px solid #C6DABF;
  background-color: #F1F1E7;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora a {
  font-weight: 800;
  color: #C6DABF;

}

.info a {
  color: #C6DABF;
  font-weight: 500;
  transition: 0.3s;
}

.info {
  color: #C6DABF;
  font-weight: 500;
}

.info a:hover {
  background-color: #DC7248;
  padding: 12px;
  border-radius: 25px;
  color: #EFD7BD;
  font-size: 15px;
}

.navbar {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.titulo {
  width: 150px;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/Frame\ 2.png');
  background-size: cover;
}

.banner .container {
  justify-content: start;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 72px;
}

.banner .container span {
  font-weight: 700;
  color: #C6DABF;
}

/* MISSÃO VISÃO VALORES */

.social {
  display: flex;
  background-image: url(../assets/Frame\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.social .container {
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8rem;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h4 {
  font-size: 30px;
  color: #DC7248;
  padding: 9px;
  border-radius: 25px;
  border: 3px dashed;
}

.box p {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -1px;
}

.box span {
  color: #e3b062;
  font-weight: 600;
  font-size: 20px;
}

/* FOOTER */

.footer {
  background-color: #C6DABF;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* O QUE OFERECE */

.oferecemos {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEB570;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;

}

.box1,
.box2,
.box3 p {
  font-size: 20px;
  letter-spacing: -1px;
}

.box1 h2{
  text-decoration: underline #FDCC90 dashed;
}

.box2 h2{
  text-decoration: underline #FDCC90 dashed;
}

.box2 h2{
  text-decoration: underline #FDCC90 dashed;
}



.oferecemos h1 {
  color: #fdcc90;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 4rem;
}

.box1 img {
  width: 150px;
}

.box2 img {
  width: 150px;
}


.videos {
  height: 90vh;
  background-color: #EFD7BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.container video{
  background-color: #C6DABF;
  
}