@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #DC7248;
    border-radius: 20px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.containerRigth {
    width: 50%;
    height: 100vh;
    background-image: url("../assets/capaPerfil6.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeft {
    width: 50%;
    height: 100vh;
    background-color: #C6DABF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contentForm {
    display: flex;
    flex-direction: column;
}

.contentForm img {
    width: 92px;
}


.contentForm h1{
    font-size: 40px;
    color: #eff9ff;
    letter-spacing: -1px;
}

.contentForm p {
    margin-bottom: 2rem;
    color: #eff9ff;
    font-size: 20px;
    font-weight: 500;
}

.fields label {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.fields input {
    background-color:#ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    color: #C6DABF;
    border: 4px solid #F1F1E7;
}

.fields input::placeholder{
    color: #C6DABF;
}

.fields button {
    height: 55px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #ffffff;
    background-color: #DC7248;
    font-weight: 800;
    font-size: 16px;
    margin-top: 2rem;
    border: 4px solid #EFD7BD;
}

.fields .link {
    margin-top: 1rem;
    color: #eff9ff;
    font-size: 15px;
    z-index: 2;
}

.fields .link a {
    color: #DC7248;
    font-weight: 900;
}

.containerLeft svg {
    position: absolute;
    bottom: 0;
}