/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    font-family: "Inter", serif;
    background-image: url("../assets/quizFig4\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contentForm {
 width: 92px;
 padding: 10px;
}

.contentForm img {
    width: 110px;
}

#pontuacaoEJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
}

#btnIniciarQuiz {
    background-color: #E0914A;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    border: 4px solid #b8641a;
    padding: 20px 80px;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

#btnSubmeter {
    padding: 10px 20px;
    background-color: #E7A667;
    color: white;
    border: 3px solid #b8641a;
    border-radius: 50px;
    margin-bottom: 5px;
}

#btnProx {
    padding: 10px 20px;
    background-color: #448d37;
    color: white;
    border: 3px solid #326928;
    border-radius: 50px;
    margin-bottom: 5px;
}

.width-fit-content {
    font-size: 18px;
    letter-spacing: -1px;
    color: #DC521A;
    font-weight: 600;
    background-color: #fbd9c3c0;
    padding: 20px;
}

.border-secondary {
    border: 3px solid #dfbaa2;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#infoQuestao span {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

#perguntaDaQuestaoAtual span {
    color: #dc521b;
    font-size: 20px;
    font-weight: 800;
}

#infoAlternativas span {
    color: #E7A667;
    font-size: 15px;
    font-weight: 800;
}

#opcoes span {
    color: #6B907A;
    font-size: 15px;
    font-weight: 800;
}

.width-fit-content-final {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    background-color: #ff6f7e83;
    color: #990c19;
    padding: 20px;
}